%h1 Edit Comment

.post_form
	= simple_form_for([@post, @comment]) do |f|
		= f.input :comment
		= f.submit

	= link_to "Cancel", post_path(@post)

%nav
	%a{href: "/", class: "current"} Forum
	%a{href: "/about"} About
	%a{href: "/"} ???