#welcome
- if user_signed_in?
	Welcome,
	= link_to @user.email, @user
	!
	
#posts
	- @posts.each do |post|
		.post
			%h3.title= link_to post.title, post
			%p.date
				Posted
				= time_ago_in_words(post.created_at)
				ago by
				= post.user.email

