%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/yzF-drvzpso", :title => "YouTube video player", :width => "640"}

%nav
	%a{href: "/"} Forum
	%a{href: "/about", class: "current"} About
	%a{href: "/"} ???