/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree . 
 *= require_self
 */

 body {
 	font-family: 'Source Code Pro', sans-serif ;
 	background-color: #444444;

 	a {
 		text-decoration: none;
 		color: #0094ff;
 	}

 }

.wrapper {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background-color: #000000;
	
	#logo {
		float: left;
    
		a {
			font-size: 1.2rem;
			font-weight: 400;
			color: #0094ff;
			display: inline-block;
		}
	}

	#buttons {
		a {
			display: inline-block;                       
			float: right;
			line-height: 20px;
			background-color: #444444;
			padding: .5em 1em;
			margin: .6rem 1rem;
		}
	}
}

.show_header {
	font-size: 1.2rem;
	margin:  2rem 0;
}

#welcome {
	margin-bottom: 1rem;

	a {
		font-weight: 100;
		color: #000000;
	}
}


#posts {
	a:visited {
 		color: #f3f3f3 !important;
 	}
 	
	.post {
		margin-top: 1rem;
		border-bottom: 1px solid #595959;

		.title {
			font-weight: 100;
			margin: 0;
		}

		.date {
			margin-top: .25rem;
			font-size: .9rem;
		}
	}
}

@import 'normalize'
