/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree . 
 *= require_self
 */

 body {
 	font-family: 'Source Code Pro', sans-serif ;
 	background-color: #444444 !important;

 	a {
 		text-decoration: none;
 		color: #0094ff;
 	}

 	#container {
 		background-color: #444444 !important;
 		height: 100%;

 		.open-menu {
			background-image: image-url("tusky_white.png");
			background-size: 40px 40px;
			background-repeat: no-repeat;
 			float: right;
 			cursor: pointer;

 			height: 40px;
 			width: 40px;
			margin: .5rem;
 		}

 		.open-menu:hover, .open-menu:active {
 			background-image: image-url("tusky_blue.png");
 		}
		
		/*Fix to hide SecretNav elements */
 		nav {

 			a {
 				display: none;
 			}
 		}
 	}
 }

.current {
	text-decoration: underline !important;
}

.wrapper {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background-color: #000000;
	
	#logo {
		float: left;
    
		a {
			font-size: 1.2rem;
			font-weight: 400;
			color: #0094ff;
			display: inline-block;
		}
	}

	#buttons {
		a {
			color: #f3f3f3;
			background-color: #444444;
			display: inline-block;                       
			float: right;
			line-height: 20px;
			padding: .5em 1em;
			margin: .6rem 1rem;
			border: 1px solid #444444;
			box-sizing: border-box;
    		-moz-box-sizing: border-box;
    		-webkit-box-sizing: border-box;
		}

		a:hover {
			border: 1px solid #f3f3f3;
		}
	}
}

.show_header {
	font-size: 1.2rem;
	margin:  2rem 0;
}

#welcome {
	margin-bottom: 1rem;

	a {
		font-weight: 100;
		color: #000000;
	}
}


#posts {
	a:visited {
 		color: #f3f3f3 !important;
 	}
 	
	.post {
		margin-top: 1rem;
		border-bottom: 1px solid #595959;

		.title {
			font-weight: 100;
			margin: 0;
		}
		
		.date {
			width: 40%;
			display: inline-block;
			margin-top: .25rem;
			font-size: .9rem;
			
		}

		@media (max-width: 40em) {
			.date {
				width: 100%;
				display: inline-block;
				margin-top: .25rem;
				font-size: .9rem;
				
			}
		}

		.count {
			float: right;
			display: inline-block;
		}
	}
}

.post_show {

	padding: 0 1rem 2rem 1rem;
	border-bottom: 1px solid #595959;

	a {
		color: #595959;
		float: right;
		padding-right: 1rem;
	}

	a:hover, a:active {
		color: black;
	}

	p {
		color: #f3f3f3;
	}
}


.post_form {

	a {
		color: #595959;
	}

	a:hover, a:active {
		color: black;
	}
	
	#post_title {
		background-color: #f3f3f3;
		float: none;
		display: block;
		margin-bottom: 1rem;
		height: 2rem;
		width: 40%;
		color: black;
	}


	input {
		background-color: #444444;
	    border: none;
	    color: #f3f3f3;
	    float: right;
	    padding-right: 1rem;
	    margin-bottom: 2rem;
	    border-radius: .2em;
	}

	input:hover {
		color: #0094ff;
	}

	textarea {
		background-color: #f3f3f3;
		width: 100%;
		min-height: 20rem;
		border-radius: .2em;
		padding: 0;
		margin-bottom: .5rem;
	}

	label {
		padding-bottom: .5rem;
		display: block;
	}
}


#comments {
	.comment {

		background-color: #595959;
		padding: 1rem;
		margin-top: 1rem;

		a {
			color: #444444;
			float: right;
			padding-right: 1rem;
		}

		a:hover, a:active {
			color: black;
		}


		p {
			color: #f3f3f3;
		}
	}


	label {
		color: #444444;
	}
	
	textarea {
		background-color: #f3f3f3;
		width: 100%;
		min-height: 6rem;
		border-radius: .2em;
		padding: 0;
	}

	input {
		background-color: #444444;
	    border: none;
	    color: #f3f3f3;
	    float: right;
	    padding-right: 1rem;
	    margin-bottom: 2rem;
	    margin-top: .5rem;
	}

	input:hover, input:active {
		color: #0094ff;
	}
}

@import 'normalize'
